@font-face {
    font-family: VGFont;
    src: url(../fonts/PressStart2P-Regular.ttf);
}

@keyframes titulo {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-title {
    font-family: VGFont;
    overflow: hidden;
    white-space: nowrap;
    animation: titulo 2s linear forwards;
}

.appear {
    animation: fadein 2s linear;
}

.hallazgo-1 {
    background-image: url(../images/jugando.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hallazgo-2 {
    background-image: url(../images/mario.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hallazgo-3 {
    background-image: url(../images/pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}